div {
    background-color: green;
}

h2{
    color: white;
}

ul {
    list-style-type: none;
  }
  
  ul li:before {
    content: "–";
    position: absolute;
    /*change margin to move dash around*/
    margin-left: -1em;
  }